EBCIDC_Conversion.json
{"flowContents":{"identifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","instanceIdentifier":"37a956ca-0197-1000-ffff-fffffd9f9bc1","name":"EBCIDC Conversion","comments":"","position":{"x":792.0,"y":-232.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1b43d516-a7ed-3225-951f-e84243192ccd","instanceIdentifier":"505b3d63-942c-1597-9b1f-f95ca9dc013c","name":"Route on Attribute (Copybook)","comments":"","position":{"x":480.0,"y":104.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Routing Strategy":"Route to 'match' if any matches","json":"${filename:endsWith('.cob')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"json":{"name":"json","displayName":"json","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"75828263-1a3a-3af7-ad04-d215c3d5ab3d","instanceIdentifier":"37b08688-0197-1000-ffff-ffffadd6cf9c","name":"ConvertRecord","comments":"","position":{"x":40.0,"y":560.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"record-writer":"fa6a514c-f01e-372f-9200-6483b1a5e611","record-reader":"0a49929b-b922-3f08-9a90-f72138a452d3","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"09fdf5be-4114-3086-8b2e-4f23751afa7c","instanceIdentifier":"9b143e0a-db77-16f4-0000-00002dc01be2","name":"PutFile","comments":"","position":{"x":480.0,"y":560.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/ebcidc/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"13aa15d3-0a17-3fa4-a514-d89110da8b5c","instanceIdentifier":"afe5334e-6d1b-1f47-a45c-a8f408231e7c","name":"FetchS3Object","comments":"","position":{"x":40.0,"y":328.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Proxy Host":null,"range-length":null,"range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"ebcidc-mainframe-data-demo","Version":null,"Communications Timeout":"30 secs","Region":"us-gov-west-1","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"a3c32499-ca87-32a8-907f-0692877115f9","instanceIdentifier":"9b143dad-db77-16f4-995b-bee958e70b6b","name":"Route on Attribute (EBCDIC encoded files)","comments":"","position":{"x":40.0,"y":104.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Routing Strategy":"Route to 'match' if any matches","json":"${filename:endsWith('.dat')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"json":{"name":"json","displayName":"json","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"d36dd171-1509-3e0f-8b33-f7d3adca18c9","instanceIdentifier":"9b145634-db77-16f4-0000-0000671311ae","name":"FetchS3Object","comments":"","position":{"x":480.0,"y":328.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Proxy Host":null,"range-length":null,"range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"ebcidc-mainframe-data-demo","Version":null,"Communications Timeout":"30 secs","Region":"us-gov-west-1","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"60401e0a-8ab8-31c3-808b-db75e24332b2","instanceIdentifier":"de1e34a3-a1d8-17b1-80c0-5866d820a036","name":"ListS3","comments":"","position":{"x":264.0,"y":-120.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Proxy Host":null,"list-type":"1","et-initial-listing-target":"all","prefix":null,"record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"none","Signer Override":"Default Signature","delimiter":null,"min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"ebcidc-mainframe-data-demo","Communications Timeout":"30 secs","Region":"us-gov-west-1","Credentials File":null,"et-state-cache":null,"proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"9999 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"37d4fa34-fac3-36b8-b8ba-f4e37b8fc617","instanceIdentifier":"9b1446e4-db77-16f4-ffff-ffffa826770e","name":"","source":{"id":"1b43d516-a7ed-3225-951f-e84243192ccd","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"Route on Attribute (Copybook)","comments":"","instanceIdentifier":"505b3d63-942c-1597-9b1f-f95ca9dc013c"},"destination":{"id":"d36dd171-1509-3e0f-8b33-f7d3adca18c9","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"FetchS3Object","comments":"","instanceIdentifier":"9b145634-db77-16f4-0000-0000671311ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"f77aa7e5-cbb5-38c8-9dc2-2e7cc220a115","instanceIdentifier":"3f935675-0197-1000-ffff-ffffcec8946c","name":"","source":{"id":"13aa15d3-0a17-3fa4-a514-d89110da8b5c","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"FetchS3Object","comments":"","instanceIdentifier":"afe5334e-6d1b-1f47-a45c-a8f408231e7c"},"destination":{"id":"75828263-1a3a-3af7-ad04-d215c3d5ab3d","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"ConvertRecord","comments":"","instanceIdentifier":"37b08688-0197-1000-ffff-ffffadd6cf9c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"2e7a3cdb-deeb-3e56-96d3-4689b8aa3666","instanceIdentifier":"37b0da57-0197-1000-0000-00005387a741","name":"","source":{"id":"75828263-1a3a-3af7-ad04-d215c3d5ab3d","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"ConvertRecord","comments":"","instanceIdentifier":"37b08688-0197-1000-ffff-ffffadd6cf9c"},"destination":{"id":"3332a74c-1dfd-3d18-b8f8-f7a6b062b6d0","type":"FUNNEL","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"Funnel","comments":"","instanceIdentifier":"37ae5bb8-0197-1000-ffff-ffffb4cc97c0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"aa52fbe3-cd83-3d11-b1b2-e35565f8180b","instanceIdentifier":"9b1446e0-db77-16f4-ffff-ffffeb2100a5","name":"","source":{"id":"60401e0a-8ab8-31c3-808b-db75e24332b2","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"ListS3","comments":"","instanceIdentifier":"de1e34a3-a1d8-17b1-80c0-5866d820a036"},"destination":{"id":"1b43d516-a7ed-3225-951f-e84243192ccd","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"Route on Attribute (Copybook)","comments":"","instanceIdentifier":"505b3d63-942c-1597-9b1f-f95ca9dc013c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"efe47aad-f533-3035-a209-a91c9b4ffdb4","instanceIdentifier":"9b14461b-db77-16f4-ffff-ffffa274ef59","name":"","source":{"id":"09fdf5be-4114-3086-8b2e-4f23751afa7c","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"PutFile","comments":"","instanceIdentifier":"9b143e0a-db77-16f4-0000-00002dc01be2"},"destination":{"id":"17082193-e34c-31d1-ad28-48821a51c63c","type":"FUNNEL","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"Funnel","comments":"","instanceIdentifier":"9b144619-db77-16f4-ffff-ffff9f4e04d0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"3d68ba0e-80d4-34c2-a0ef-8eccc9b66c01","instanceIdentifier":"9b143dc6-db77-16f4-0000-00000246394d","name":"","source":{"id":"60401e0a-8ab8-31c3-808b-db75e24332b2","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"ListS3","comments":"","instanceIdentifier":"de1e34a3-a1d8-17b1-80c0-5866d820a036"},"destination":{"id":"a3c32499-ca87-32a8-907f-0692877115f9","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"Route on Attribute (EBCDIC encoded files)","comments":"","instanceIdentifier":"9b143dad-db77-16f4-995b-bee958e70b6b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"ca868f27-f4c1-3a2d-a2e8-9934dbcf4fd2","instanceIdentifier":"9b14461e-db77-16f4-ffff-ffff8080f03a","name":"","source":{"id":"09fdf5be-4114-3086-8b2e-4f23751afa7c","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"PutFile","comments":"","instanceIdentifier":"9b143e0a-db77-16f4-0000-00002dc01be2"},"destination":{"id":"17082193-e34c-31d1-ad28-48821a51c63c","type":"FUNNEL","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"Funnel","comments":"","instanceIdentifier":"9b144619-db77-16f4-ffff-ffff9f4e04d0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":792.0,"y":736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"3e43f21c-d342-3086-b7c7-b68710b00b3d","instanceIdentifier":"9b1446ec-db77-16f4-0000-000053a2a464","name":"","source":{"id":"a3c32499-ca87-32a8-907f-0692877115f9","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"Route on Attribute (EBCDIC encoded files)","comments":"","instanceIdentifier":"9b143dad-db77-16f4-995b-bee958e70b6b"},"destination":{"id":"13aa15d3-0a17-3fa4-a514-d89110da8b5c","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"FetchS3Object","comments":"","instanceIdentifier":"afe5334e-6d1b-1f47-a45c-a8f408231e7c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"d5806771-7b0d-37c3-b30e-e1516bd45068","instanceIdentifier":"9b145656-db77-16f4-0000-00001535084b","name":"","source":{"id":"d36dd171-1509-3e0f-8b33-f7d3adca18c9","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"FetchS3Object","comments":"","instanceIdentifier":"9b145634-db77-16f4-0000-0000671311ae"},"destination":{"id":"09fdf5be-4114-3086-8b2e-4f23751afa7c","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"PutFile","comments":"","instanceIdentifier":"9b143e0a-db77-16f4-0000-00002dc01be2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"44f47565-c2b8-3d81-bcbb-0892614e9779","instanceIdentifier":"37b1db03-0197-1000-0000-0000692466f8","name":"","source":{"id":"75828263-1a3a-3af7-ad04-d215c3d5ab3d","type":"PROCESSOR","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"ConvertRecord","comments":"","instanceIdentifier":"37b08688-0197-1000-ffff-ffffadd6cf9c"},"destination":{"id":"3332a74c-1dfd-3d18-b8f8-f7a6b062b6d0","type":"FUNNEL","groupId":"c54b42b1-87fc-3aad-86c8-65e0f25fe500","name":"Funnel","comments":"","instanceIdentifier":"37ae5bb8-0197-1000-ffff-ffffb4cc97c0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":56.0,"y":736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"}],"labels":[],"funnels":[{"identifier":"3332a74c-1dfd-3d18-b8f8-f7a6b062b6d0","instanceIdentifier":"37ae5bb8-0197-1000-ffff-ffffb4cc97c0","position":{"x":328.0,"y":784.0},"componentType":"FUNNEL","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"17082193-e34c-31d1-ad28-48821a51c63c","instanceIdentifier":"9b144619-db77-16f4-ffff-ffff9f4e04d0","position":{"x":456.0,"y":784.0},"componentType":"FUNNEL","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"}],"controllerServices":[{"identifier":"eea9bd4a-dd71-33e2-8d71-9a11468f47ed","instanceIdentifier":"37b1a6d8-0197-1000-0000-0000322b1e92","name":"ParquetRecordSetWriter","comments":"","type":"org.apache.nifi.parquet.ParquetRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"schema-branch":null,"max-padding-size":null,"avro-write-old-list-structure":"true","row-group-size":null,"schema-cache":null,"enable-dictionary-encoding":null,"Schema Write Strategy":"no-schema","page-size":null,"writer-version":null,"compression-type":"UNCOMPRESSED","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"enable-validation":null,"dictionary-page-size":null,"int96-fields":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}","avro-add-list-element-records":"true"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"int96-fields":{"name":"int96-fields","displayName":"INT96 Fields","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0.2.1.7.1000-46"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"fa6a514c-f01e-372f-9200-6483b1a5e611","instanceIdentifier":"9b143ddf-db77-16f4-0000-000077d0924a","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0.2.1.7.1000-46"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"0a49929b-b922-3f08-9a90-f72138a452d3","instanceIdentifier":"37b13474-0197-1000-ffff-ffffb9c937ae","name":"EBCDICRecordReader","comments":"","type":"com.cloudera.nifi.ebcdic.EBCDICRecordReader","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-ebcdic-service-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Record Description Word Byte Order":"Big-endian","Copybook Character Set":"UTF-8","Copybook Path":"/tmp/ebcidc/test11_copybook.cob","Record Description Word Header Expected":"true","Code Page":"COMMON","Record Description Word Part Of Length":"false"},"propertyDescriptors":{"Record Description Word Byte Order":{"name":"Record Description Word Byte Order","displayName":"Record Description Word Byte Order","identifiesControllerService":false,"sensitive":false},"Copybook Character Set":{"name":"Copybook Character Set","displayName":"Copybook Character Set","identifiesControllerService":false,"sensitive":false},"Copybook Path":{"name":"Copybook Path","displayName":"Copybook Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Record Description Word Header Expected":{"name":"Record Description Word Header Expected","displayName":"Record Description Word Header Expected","identifiesControllerService":false,"sensitive":false},"Code Page":{"name":"Code Page","displayName":"Code Page","identifiesControllerService":false,"sensitive":false},"Record Description Word Part Of Length":{"name":"Record Description Word Part Of Length","displayName":"Record Description Word Part Of Length","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0.2.1.7.1000-46"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"},{"identifier":"e103c508-db55-3be6-bb4c-a48e5ad6a943","instanceIdentifier":"4106f85d-0197-1000-0000-00004f1e29be","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"compression-format":"NONE","Schema Write Strategy":"no-schema","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0.2.1.7.1000-46"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c54b42b1-87fc-3aad-86c8-65e0f25fe500"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}